footer {
    display: flex;
    justify-content: center;
    border-top: 1px #DDDDDD solid;
}

footer p {
    font-size: 0.8em;
    color: #666666;
    padding-top: 5em;
    padding-bottom: 5em;
}

#gotop {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -10000px;
    overflow: hidden;
    background: url(/images/top-black.png) no-repeat 0 50%;
    background-size: contain;
    position: fixed;
    bottom: 20%;
    right: 10%;
}
