header {
    display: flex;
    border-bottom: 1px solid #000;
    height: 4vw;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

header nav {
    width: 50%;
}

header .menus {
    display: flex;
    justify-content: space-between;
}

header .menus li a:not(.contact a) {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #000;
}

header .menus li a:not(.contact a):active {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #2FBBA0;
}

header .menus {
    align-items: center;
}

header .contact {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000;
    border-radius: 30px;
}

.contact a {
    color: white;
}

header .contact a:hover {
    color: #000;
}

header .contact:hover {
    background-color: #FFF;
    border: 1px solid #000;
}
