#introduce {
    display: grid;
    grid-template:
    "photo about about about about"
    "photo contact contact contact contact";
    padding-top: 11em;
    padding-bottom: 11.5em;
}

#introduce .about {
    grid-area: about;
}

#introduce .photo {
    position: relative;
    grid-area: photo;
    width: 17em;
    height: 17em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2em;
}

#introduce .photo img {
    position: absolute;
    left: 50%;
    transform: translate3d(-40%, -20%, 0)
}

#introduce .about h2 {
    font-size: 1em;
    text-align: start;
}

#introduce .about h2 strong {
    font-size: 2em;
    margin-right: 1em;
}

#introduce .about p {
    line-height: 2em;
}

#introduce .about .tags {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 2.3em;
    border-bottom: 1px solid #DDD;
}

#introduce .about .tags li {
    font-size: 1em;
    padding: 0.7em 1.3em;
    border-radius: 3em;
    background-color: #E8F9F5;
    color: #2FBBA0;
}

#introduce .address {
    grid-area: contact;
    font-style: normal;
} 

#introduce .address ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#introduce .address li {
    padding: 1em;
    
}

#introduce address dt, dd {
    color: #666;
    display: inline-block;
}

#introduce address dt {
    width: 5em;
    font-weight: 700;
}

#introduce address dd {
    width: 20em;
}

@media (max-width: 1024px) {
    #introduce{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #introduce .photo {
        position: relative;
        margin: 3vw auto;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        overflow: hidden;
        z-index: 0;
    }

    #introduce .photo img {
        position: absolute;
        transform: translate3d(-41%, -15%, 0);
    }

    #introduce h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #introduce h2 strong {
        padding-left: .7em;
        padding-bottom: .3em;
    }

    #introduce .about p {
        text-align: center;
    }

    #introduce .about .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: #DDDDDD 1px solid;
    }

    #introduce .address {
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
    }
}

/* #name-and-chanels {
    height: 30vw;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main-photo detail"
    "main-photo contacts";
    padding-top: 6vw;
}

.detail {
    grid-area: detail;
    padding-left: 2em;
}

#main-photo {
    grid-area: main-photo;
    display: block;
    background: url(/images/main.jpeg) no-repeat 0 50%;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
}

.detail > div {
    display: flex;
    align-items: flex-end;
}

#name {
    font-size: 2em;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
    font-weight: 700;
}

.job {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: .8em;
    padding-left: 2em;
    padding-bottom: .6em;
}

.mention {
    margin-top: .5em;
    margin-bottom: 1em;
}

.tags {
    padding-bottom: 3em;
    border-bottom: 1px solid #DDDDDD;
}

.tags li {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 300;
    font-style: normal;
    display: inline-block;
    padding: .5em 1em;
    margin-right: 1em;
}

.tags li:not(:nth-child(2)) {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 400;
    background-color: #E8F9F5;
    color: #2FBBA0;
    border-radius: 3em;
}

.tags li:nth-child(2) {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 400;
    background-color: #FFF6F4;
    color: #FF6E53;
    border-radius: 3em;
}

.contacts {
    color: #666666;
    padding-top: 3em;
    padding-right: 3em;
    display: grid;
    grid-area: contacts;
    padding-left: 2em;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.contacts a {
    color: #666666;
}

@media (max-width: 1024px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10em;
    }

    .detail div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
} */
