#name-and-chanels {
    height: 30vw;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "main-photo detail"
    "main-photo contacts"
    ;
    padding-top: 6vw;
}

.detail {
    grid-area: detail;
    padding-left: 2em;
}

#main-photo {
    grid-area: main-photo;
    display: block;
    background: url(/images/main.jpeg) no-repeat 0 50%;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
}

.detail > div {
    display: flex;
    align-items: flex-end;
}

#name {
    font-size: 2em;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
    font-weight: 700;
}

.job {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: .8em;
    padding-left: 2em;
    padding-bottom: .6em;
}

.mention {
    margin-top: .5em;
    margin-bottom: 1em;
}

.tags {
    padding-bottom: 3em;
    border-bottom: 1px solid #DDDDDD;
}

.tags span {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 300;
    font-style: normal;
    padding: .5em 1em;
    margin-right: 1em;
}

.tags span:not(:nth-child(2)) {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 400;
    background-color: #E8F9F5;
    color: #2FBBA0;
    border-radius: 3em;
}

.tags span:nth-child(2) {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-weight: 400;
    background-color: #FFF6F4;
    color: #FF6E53;
    border-radius: 3em;
}

.contacts {
    color: #666666;
    padding-top: 3em;
    padding-right: 3em;
    display: grid;
    grid-area: contacts;
    padding-left: 2em;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.contacts a {
    color: #666666;
}
