#sns div {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 12em;
}

#sns a {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -10000px;
    overflow: hidden;
    padding-inline: 3.5em;
}

#sns .facebook {
    background: url(/images/facebook.png) no-repeat 0 50%;
    background-size: contain;
}

#sns .instagram {
    background: url(/images/instargram.png) no-repeat 0 50%;
    background-size: contain;
}

#sns .twitter {
    background: url(/images/twitter.png) no-repeat 0 50%;
    background-size: contain;
}

#sns .youtube {
    background: url(/images/youtube.png) no-repeat 0 50%;
    background-size: contain;
}
